.form-container {
    width: 35vw;
    height: 100vh;
    float: left;
}

.form-body {
    width: 70%;
    font-family: "Roboto", "sans-serif";
    margin: 0 auto;
}

.input-field {
    margin-bottom: 25%;
}

h2 {
    color: #0a002a;
}

label {
    color: #aca8a9;
    margin-bottom: 5%;
    display: inline-block;
}