.form-container {
    width: 25vw;
    float: left;
    box-shadow: 3px 0 4px -3px rgba(169, 169, 169, 0.5);
}

.form-body {
    width: 80%;
    font-family: "Roboto", "sans-serif";
    margin: 0 auto;
}

.input-field {
    margin-bottom: 15%;
    margin-right: 15%;
}

h2 {
    color: #0a002a;
}

label {
    color: #aca8a9;
    margin-bottom: 5%;
    display: inline-block;
}

.search-button {
    border-radius: 28px;
    width: 15vw;
    height: 7vh;
    font-size: 3vh;
    background-color: #e86e42;
    border: none;
}