* {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
}

button {
  cursor: pointer;
  outline: none;

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

body {
  margin: 0;
}