body {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #0a002a;
}

.login {
  margin: auto;
  width: 388px;
  height: 388px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.5);
  background-color: #ffffff;
}

.Log-into-rently {
  width: 194px;
  height: 33px;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #000000;
}

#email,
#password {
  width: 284px;
  height: 56px;
  border-radius: 4px;
}

.login-button {
  width: 204px;
  height: 56px;
  border-radius: 28px;
  box-shadow: 0 1px 4px 0 rgba(109, 109, 109, 0.5);
  background-color: #e86e42;
}
