.rc-pagination-item-active {
    border-radius: 50%;
    background-color: #e86e42;
    border-color: #e86e42;
}

.rc-pagination-item {
    border-radius: 50%;
    margin-right: 2%;
	float: none;
	outline: none;
}

.rc-pagination-item:hover a{
    color: #e86e42;
}

.rc-pagination-item:hover {
    border-color: #e86e42;
}

.rc-pagination-next, .rc-pagination-prev {
    margin-right: 2%;
    float: none;
	border: 0;
	outline: none;
}

.rc-pagination-next a, .rc-pagination-prev a{
    color: #e86e42;
    font-size: 1.5em;
}